.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 2rem;
    background: rgba(0, 0, 0, 0.70);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo-icon {
    height: 100px;
    display: flex;
    align-items: center; 
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 5rem;  
}

.nav-links a { 
    font-style: italic;
    color: #365475;
    font-size:larger;
    text-decoration: none;
    transition: color 0.5s;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.nav-links a:hover {
    color: #5e0303;
}


